
.close{
    font-size: 20px;
    line-height: 25px;
}

.close:hover{
    background-color: var(--secondary-highlight-color);
    color: var(--primary-forecolor);
}

.separator{
    width: 1px;
    height: 20px;
    margin: 0 10px;
    border-left: 1px solid var(--edit-menu-separator-color);
    pointer-events: none;
}

.clipping #clip{
    background-color: var(--clip-bgcolor);
}

#resize{
    color: var(--button-disabled);
    pointer-events: none;
}

.resized #resize{
    pointer-events:auto;
}

#undo,
#redo,
#cancel{
    color: var(--button-disabled);
    pointer-events: none;
}

.can-undo #undo,
.can-undo #cancel{
    pointer-events:auto;
}

.can-redo #redo,
.can-redo #cancel{
    pointer-events:auto;
}

#shrink{
    position: relative;
}

.shrink #shrink{
    background-color: var(--button-selected);
}

#saveCopy,
#save{
    color: var(--button-disabled);
    pointer-events: none;
}

.edited #saveCopy,
.edited #save{
    pointer-events:auto;
}

.scale-text{
    font-size: 14px;
    margin: 0px 15px;
    position: relative;
}

.mg15{
    margin: 15px;
}

.clip-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    background-color: var(--clip-canvas-bgcolor);
    opacity: 0.5;
    z-index: 100;
    mix-blend-mode: hard-light;
}

.clip-area{
    position: fixed;
    background-color: var(--clip-area-bgcolor);
    opacity: 0.5;
    z-index: 200;
    width: 0px;
    height: 0px;
    transform-origin: top left;
}

