html, body{
    width:100%;
    height:100%;
}

body{
    margin:0;
    font-family: Segoe UI,sans-serif;
}

#viewport{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dragging{
    cursor: pointer;
}

.title-bar{
    height:30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    cursor: default;
    -webkit-app-region: drag;
}

.dark .title-bar{
    background-color: #000;
    color: #c3bebe;
}

.icon-area{
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ico{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.window-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.minimize,
.maximize,
.close{
    width: 45px;
    height: 100%;
    text-align: center;
    line-height: 30px;
    user-select: none;
    position: relative;
    -webkit-app-region: no-drag;
}

.close{
    font-size: 20px;
    line-height: 25px;
}

.maximize{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.minimize:hover,
.maximize:hover{
    background-color: #00000012;
}

.dark .minimize:hover,
.dark .maximize:hover{
    background-color: #5f5b5b;
}

.maximize:hover .minbtn,
.maximize:hover .maxbtn{
    background-color: #ededed;
}

.dark .maximize:hover .minbtn,
.dark .maximize:hover .maxbtn{
    background-color: #5f5b5b;
}

.minbtn,
.maxbtn{
    position: relative;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #fff;
    pointer-events: none;
}

.maxbtn::after{
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 1px;
    z-index: -1;
    border: 1px solid #000;
}

.dark .minbtn,
.dark .maxbtn{
    border: 1px solid #c3bebe;
    background-color: #383737;
}

.dark .maxbtn::after{
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 1px;
    z-index: -1;
    border: 1px solid #c3bebe;
}

.close:hover{
    background-color: #5165dbc4;
}

.container{
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.menu{
    flex: 1 1 auto;
    box-shadow: inset 0 -1px 0 rgb(100 121 143 / 12%);
    user-select: none;
    height: 35px;
    position: absolute;
    width: 100%;
}

.dark .menu{
    box-shadow: inset 0 -1px 0 rgb(116 117 119 / 12%);
    color: #c3bebe;
}

.btn-area{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-app-region: no-drag;
}

.btn svg{
    width: 20px;
    height: 20px;
    padding: 0 20px;
    pointer-events: none;
}

.separator{
    width: 1px;
    height: 20px;
    margin: 0 10px;
    border-left: 1px solid #5c5a5a;
    pointer-events: none;
}

.btn:hover{
    background-color: #00000012;
}

.dark .btn:hover{
    background-color: #6b676775;
}

.clipping #clip{
    background-color: #00000012;
}

.dark .clipping #clip{
    background-color: #6b676775;
}

#resize{
    color: #524e4e;
    pointer-events: none;
}

.resized #resize{
    color: #c3bebe;
    pointer-events:auto;
}

#undo,
#redo,
#cancel{
    color: #524e4e;
    pointer-events: none;
}

.can-undo #undo,
.can-undo #cancel{
    color: #c3bebe;
    pointer-events:auto;
}

.can-redo #redo,
.can-redo #cancel{
    color: #c3bebe;
    pointer-events:auto;
}

#shrink{
    position: relative;
}

.shrink #shrink{
    background-color: #6b676775;
}

#saveCopy,
#save{
    color: #524e4e;
    pointer-events: none;
}

.edited #saveCopy,
.edited #save{
    color: #c3bebe;
    pointer-events:auto;
}

.scale-text{
    font-size: 14px;
    margin: 0px 15px;
    position: relative;
}

.image-container{
    display: flex;
    width:100%;
    height:80%;
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
}

.dark .image-container{
    background-color: #272626;
    color:#c3bebe;
}

.image-area{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 15px;
}

.pic{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    position: absolute;
}

.clip-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    background-color: #000;
    opacity: 0.5;
    z-index: 100;
    mix-blend-mode: hard-light;
}

.clip-area{
    position: fixed;
    background-color: #fff;
    opacity: 0.5;
    z-index: 200;
    width: 0px;
    height: 0px;
    transform-origin: top left;
}

/*----------------------------*/
#loader{
    display:none;
}

.overlay{
    display:none;
    position:fixed;
    z-index:9999;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
